  /* @font-face {
    font-family: 'Harry Potter';
    src: url('https://cdn2.hubspot.net/hubfs/678613/Projects/Harry%20Potter%20Battle%20Game/ParryHotter.ttf') format('truetype')
  } */

  @import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap");

  /* GENERAL */

  * {
    margin: 0;
    padding: 0;
  }



  html {
    overflow-x: hidden;
    overflow-y: auto;
  }

  body {
    /* background-color: #b80000; */
    /* background-color: white; */
    background-color: black;
    height: 100%;
    --bkg: #5eb3fd;
    --white: #e7e6e6;

    background-color: var(--white);
    background-image: url("images/skulls-1920x1080.png");
  }

  h1 {
    color: #81e4e4;
    font-family: 'Nunito';
    font-weight: 900;
    font-size: 50px;
    text-align: center;
    /* text-transform: uppercase; */
  }


  /* HEADER */

  .en-header-school-logo {
    display: flex;
    /* justify-content: center; */
    align-items: center;
  }

  .en-header-school-logo img {
    position: relative;
    width: 70%;
    height: auto;
    z-index: 9999999999999999999999;
  }

  .header-title {
    position: relative;
    height: max-content;
    align-self: center;
    align-content: center;
  }

  .congrat_text {
    color: white;
    font-family: "Passion One";
    font-size: 2em;
    font-weight: 400;
    text-align: center;
  }



  /* ================== PAGE WRAPPER =================*/
  /* .page_wrapper {
    width: 100%;

  }
*/
  .inner_page_wrapper {
    display: flex;
    /* max-width: 1100px; */
    flex-direction: row;
    width: 100%;
    margin: 0 auto;
    padding: 0px 0;
    /* margin-bottom: 64px;
    padding-bottom: 87px; */
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #000000;
    /* line-height: 1.5; */
    /* justify-content: center; */
  }

  /* Split the screen in half */
  .split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 65px;
  }

  /* Control the left side */
  .left {
    left: 0;
    /* background-color: black; */
  }

  /* Control the right side */
  .right {
    right: 0;
    /* background-color: black; */
    padding-top: 1%;
  }

  /* If you want the content centered horizontally and vertically */
  .centered {
    position: absolute;
    top: 50%;
    /* left: 50%; */
    width: 80%;
    transform: translate(-20%, -45%);
    text-align: center;
    padding-top: 10px;
  }

  .wrapper {
    display: flex;
    top: 2px;
    flex-direction: column;
    gap: 10px;
    align-items: center;
  }

  /* 
  .wrapper>div {
    padding-top: 3%;
  } */




  .spin {
    /* display: block; */
    transform: translate(25%, 110%);
    width: 100%;
    text-align: center;
    padding-top: 5%;
  }


  .logo {
    display: none;
    padding-top: 5%;
  }

  /* For Glowing button */




  :root {
    --glow-color: hsl(186 100% 69%);
  }

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }


  .glowing-btn {
    position: relative;
    color: var(--glow-color);
    cursor: pointer;
    padding: 0.35em 1em;
    border: 0.15em solid var(--glow-color);
    border-radius: 0.45em;
    background: none;
    perspective: 2em;
    font-family: "Raleway", sans-serif;
    font-size: 2em;
    font-weight: 900;
    letter-spacing: 1em;

    -webkit-box-shadow: inset 0px 0px 0.5em 0px var(--glow-color),
      0px 0px 0.5em 0px var(--glow-color);
    -moz-box-shadow: inset 0px 0px 0.5em 0px var(--glow-color),
      0px 0px 0.5em 0px var(--glow-color);
    box-shadow: inset 0px 0px 0.5em 0px var(--glow-color),
      0px 0px 0.5em 0px var(--glow-color);
    animation: border-flicker 2s linear infinite;
  }

  .glowing-txt {
    float: left;
    margin-right: -0.8em;
    -webkit-text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3),
      0 0 0.45em var(--glow-color);
    -moz-text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3),
      0 0 0.45em var(--glow-color);
    text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em var(--glow-color);
    animation: text-flicker 3s linear infinite;
  }

  .faulty-letter {
    opacity: 0.5;
    animation: faulty-flicker 2s linear infinite;
  }

  .glowing-btn::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.7;
    filter: blur(1em);
    transform: translateY(120%) rotateX(95deg) scale(1, 0.35);
    background: var(--glow-color);
    pointer-events: none;
  }

  .glowing-btn::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    z-index: -1;
    background-color: var(--glow-color);
    box-shadow: 0 0 2em 0.2em var(--glow-color);
    transition: opacity 100ms linear;
  }

  .glowing-btn:hover {
    color: rgba(0, 0, 0, 0.8);
    text-shadow: none;
    animation: none;
  }

  .glowing-btn:hover .glowing-txt {
    animation: none;
  }

  .glowing-btn:hover .faulty-letter {
    animation: none;
    text-shadow: none;
    opacity: 1;
  }

  .glowing-btn:hover:before {
    filter: blur(1.5em);
    opacity: 1;
  }

  .glowing-btn:hover:after {
    opacity: 1;
  }

  @keyframes faulty-flicker {
    0% {
      opacity: 0.1;
    }

    2% {
      opacity: 0.1;
    }

    4% {
      opacity: 0.5;
    }

    19% {
      opacity: 0.5;
    }

    21% {
      opacity: 0.1;
    }

    23% {
      opacity: 1;
    }

    80% {
      opacity: 0.5;
    }

    83% {
      opacity: 0.4;
    }

    87% {
      opacity: 1;
    }
  }

  @keyframes text-flicker {
    0% {
      opacity: 0.1;
    }

    2% {
      opacity: 1;
    }

    8% {
      opacity: 0.1;
    }

    9% {
      opacity: 1;
    }

    12% {
      opacity: 0.1;
    }

    20% {
      opacity: 1;
    }

    25% {
      opacity: 0.3;
    }

    30% {
      opacity: 1;
    }

    70% {
      opacity: 0.7;
    }

    72% {
      opacity: 0.2;
    }

    77% {
      opacity: 0.9;
    }

    100% {
      opacity: 0.9;
    }
  }

  @keyframes border-flicker {
    0% {
      opacity: 0.1;
    }

    2% {
      opacity: 1;
    }

    4% {
      opacity: 0.1;
    }

    8% {
      opacity: 1;
    }

    70% {
      opacity: 0.7;
    }

    100% {
      opacity: 1;
    }
  }


  @media only screen and (max-width: 600px) {
    .glowing-btn {
      font-size: 1em;
    }

    .congrat_text {
      font-size: 1em;
    }
  }

  @media (min-width: 500px) {
    .congrat_text {
      font-size: 3em;
    }
  }



  /* Overlay transitions. */
  .overlay {
    height: 100%;
    /* width: 100%; */
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
    overflow-x: hidden;
    transition: .5s ease;
  }

  .container:hover .overlay {
    opacity: 1;
  }

  .overlay-content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 0%;
    width: 90%;
    text-align: center;
    margin-top: 10px;

  }

  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }

  .overlay a:hover,
  .overlay a:focus {
    color: #f1f1f1;
  }

  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
  }

  @media screen and (max-height: 450px) {
    .overlay a {
      font-size: 20px
    }

    .overlay .closebtn {
      font-size: 40px;
      top: 15px;
      right: 35px;
    }
  }